.order-tabel {
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  .order-th {
    display: flex;
    border: 1px solid black;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  p {
    margin: 5px;
  }
  .order-img {
    width: 20px;
    height: 20px;
  }
}
